.stoxnews{
    margin-left: 40%;
    padding-top: 10%;
    padding-bottom: 2%;
}

.news-card{
    width: 60rem;
    margin: 0 auto;
    
}

.news-card:hover{
    box-shadow: 5px 10px 10px rgba(247, 235, 235, 0.253)!important;
}

.news-card-body{
    padding: 0.4rem 0 !important;
}

.news-card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;

}

.container-fluid-row{
    padding-top: 6rem;
}

.overflow{
    overflow: hidden;
}